@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.lineItemsWrapper {
  border: 1px solid colors.$gray-20;
  background-color: colors.$white;
  margin-bottom: layout.$spacing-05;
}

.filterEmptyState {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: layout.$spacing-09 !important;
  text-align: center;
}

.filterEmptyStateTile {
  margin: auto;
}

.filterEmptyStateContent {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

.filterEmptyStateHelper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.searchbox {
  input:focus {
    outline: 2px solid colors.$orange-40 !important;
  }
}

.invoiceTable {
  width: 100%;

  td {
    border-bottom: none !important;
  }
}

.tableDescription {
  display: flex;
  align-items: flex-start;
  margin-top: layout.$spacing-02;
  column-gap: layout.$spacing-01;

  ::after {
    content: '';
    display: block;
    width: layout.$spacing-07;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }

  & > span {
    @include type.type-style('body-01');
  }
}
